<h2 mat-dialog-title>
  Contract event: <span>{{ contract.name }}</span>
</h2>
<div class="error-display" *ngIf="errorMessage">
  <h5>{{ errorMessage }}</h5>
</div>
<form
  [formGroup]="editContractForm"
  (ngSubmit)="updateContract(editContractForm.value)"
>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="New System" />
    <mat-hint>Contract name</mat-hint>
    <mat-error *ngIf="editContractForm.get('name')?.invalid">{{
      getErrorMessage("name")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Order</mat-label>
    <input type="number" formControlName="order" matInput />
    <mat-hint>The contract execution order respect the event</mat-hint>
    <mat-error *ngIf="editContractForm.get('order')?.invalid">{{
      getErrorMessage("order")
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Active state</mat-label>
    <mat-select formControlName="active">
      <mat-option [value]="1">Active</mat-option>
      <mat-option [value]="0">Inactive</mat-option>
    </mat-select>
    <mat-hint>Select the event operation type</mat-hint>
    <mat-error *ngIf="editContractForm.get('operation')?.invalid">{{
      getErrorMessage("operation")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mail recipients on error</mat-label>
    <input formControlName="mailRecipientsOnError" matInput placeholder="user@gmail.com,user2@outlook.com,user3@usil.edu.pe" />
    <mat-hint>Receptors when there are errors</mat-hint>
  </mat-form-field>
  <div align="end" mat-dialog-actions>
    <button
      [ngStyle]="{ 'margin-right': '.5rem' }"
      (click)="closeDialog()"
      type="button"
      color="warn"
      mat-stroked-button
      [disabled]="dialogRef.disableClose"
    >
      Cancel</button
    ><button
      [disabled]="!editContractForm.valid"
      color="primary"
      mat-flat-button
    >
      Update
    </button>
  </div>
</form>
