table {
  width: 100%;
  .actions {
    button:last-child {
      margin-left: 0.5rem;
    }
  }
  th,
  td {
    min-width: 10%;
  }
  .roles-column {
    button:last-child {
      margin-left: 0.5rem;
    }
  }
  .actions-column {
    text-align: end;
    button:last-child {
      margin-left: 0.5rem;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.error-display {
  margin: 1rem 0;
  background-color: rgba(255, 171, 16, 0.596);
  padding: 0.5rem;
  border-radius: 0.25rem;
  h5 {
    margin: 0;
    font-size: 16px;
  }
}

.key-value-form {
  display: grid;
  grid-template-columns: 1fr 1fr 0.125fr;
  gap: 1.25rem;
}

.remove-btn {
  height: 52px;
}

td,
th {
  width: calc((100% - 33px) / 4);
}

.small-column {
  width: 32px;
  border-right: 1px solid rgb(182, 182, 182);
  padding-right: 24px;
  text-align: center;
}

.producer-column {
  padding-left: 16px;
}

h3 {
  margin: 0;
  margin-bottom: 1rem;
  color: #162573;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.show-table {
  margin-top: 2rem;
}

h4,
h5 {
  margin: 0.25rem 0 0.25rem 0;
}

.creation-forms {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.span-2 {
  grid-column: span 2;
}

.span-4 {
  grid-column: span 4;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
