<div class="breadCrump">
  <h5
    [ngStyle]="{ color: receivedEventId === undefined ? 'grey' : '#0b0b96' }"
    [routerLink]="['/dashboard/events-logs']"
  >
    Received events
  </h5>
  <mat-icon
    *ngIf="receivedEventId"
    aria-hidden="false"
    aria-label="Example home icon"
    >keyboard_arrow_right</mat-icon
  >
  <h5
    [ngStyle]="{
      color:
        receivedEventId !== undefined && detailId === undefined
          ? 'grey'
          : '#0b0b96'
    }"
    *ngIf="receivedEventId"
    [queryParams]="{ receivedEventId: receivedEventId }"
    [routerLink]="['/dashboard/events-logs/logs-list/event-contracts']"
  >
    Received event #{{ receivedEventId }}
  </h5>
  <mat-icon *ngIf="detailId" aria-hidden="false" aria-label="Example home icon"
    >keyboard_arrow_right</mat-icon
  >
  <h5
    [ngStyle]="{ color: detailId !== undefined ? 'grey' : '#0b0b96' }"
    *ngIf="detailId"
    [routerLink]="['/dashboard/events-logs/event-contracts/contract-details']"
  >
    Execution Detail #{{ detailId }}
  </h5>
</div>
<router-outlet></router-outlet>
