h2 {
  color: #162573;
  span {
    color: #ffd300;
  }
}

.card-title {
  color: #162573;
}

table {
  width: 100%;
}

.event {
  h3 {
    color: #162573;
  }
  margin-bottom: 2rem;
  display: grid;
}

.jsonText {
  width: 100%;
  textarea {
    font-size: 1rem;
    font-weight: 600;
    min-height: 250px;
  }
}

.inner-tab {
  padding: 1rem;
}

.card {
  margin-bottom: 1rem;
}
