h2 {
  // color: #2e4ff1;
  span {
    color: #162573;
  }
}

.card-title {
  color: #162573;
}

table {
  width: 100%;
}

.event {
  h3 {
    color: #162573;
  }
  margin-bottom: 2rem;
  display: grid;
}

.jsonText {
  width: 100%;
  textarea {
    font-size: 1rem;
    font-weight: 600;
    height: 400px;
  }
}
