table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: calc((100% - 33px) / 4);
}

.small-column {
  width: 32px;
  border-right: 1px solid rgb(182, 182, 182);
  padding-right: 24px;
  text-align: center;
}

.space-column {
  padding-left: 16px;
}

h3 {
  margin-top: 0;
  color: #162573;
}

.actions {
  display:flex;
  flex-direction: column;
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 80px 145px 1.3fr 145px 0.8fr;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}

.searchByIdFilter {
  // width: 80px;
}
.searchByDate {
  // width: calc((100% - 33px) / 2);
}

.searchByProducer {
  grid-column: 4/5;
}