@use "@angular/material" as mat;

@include mat.core();

$usil-light-blue: (
  50: #f3f5ff,
  200: #b9c4fb,
  300: #a3b2f9,
  400: #8ea0fa,
  500: #7d91f9,
  600: #6c83f9,
  700: #526ef8,
  800: #3b5af5,
  900: #2e4ff1,
  A100: #2e4ff1,
  A200: #2e4ff1,
  A400: #2e4ff1,
  A700: #2e4ff1,
  contrast: (
    50: #f3f5ff,
    100: #f3f5ff,
    200: #f3f5ff,
    300: #f3f5ff,
    400: #f3f5ff,
    500: #f3f5ff,
    600: #f3f5ff,
    700: #f3f5ff,
    800: #f3f5ff,
    900: #f3f5ff,
    A100: #f3f5ff,
    A200: #f3f5ff,
    A400: #f3f5ff,
    A700: #f3f5ff,
  ),
);

$my-primary: mat.define-palette($usil-light-blue, 900);
$my-accent: mat.define-palette($usil-light-blue, 900, 700, 400);

$usil-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($usil-theme);
